.main-title {
    text-align: center;
}

#barraNavegacao .container {
    flex-wrap: nowrap;
}

.icones-navbar {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

#barraNavegacao .navbar-toggler {
    margin-left: 0;
    border: none;
}

#menuOffcanvas {
    width: 70vw;
}

/* Padrão, celular */
.carousel-item img {
    height: 30vh;
    object-fit: cover;
    object-position: 0% 80%;
}

/* Tablet */
@media (min-width: 768px) {
    .carousel-item img {
        height: 40vh;
    }
}

/* Monitor */
@media (min-width: 992px) {
    .carousel-item img {
        height: 50vh;
    }
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}