/* Imagem principal do produto */
.img-produto {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

/* Badge de categoria */
.badge-categoria {
    display: inline-block;
    background-color: var(--bege);
    color: var(--texto-secundario);
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    padding: 4px 12px;
    border-radius: 20px;
    margin-bottom: 12px;
}

/* Nome do produto */
.produto-nome {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 8px;
}

/* Preço */
.produto-preco {
    font-family: "Inter", sans-serif;
    color: var(--texto-principal);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Descrição */
.produto-descricao {
    color: var(--texto-secundario);
    line-height: 1.7;
    margin-bottom: 24px;
}

/* Input de quantidade */
.quantidade-grupo {
    width: 140px;

}

/* Lista de detalhes do produto */
.lista-detalhes {
    list-style: none;
    padding: 0;
    margin-top: 24px;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}

.lista-detalhes li {
    color: var(--texto-secundario);
    padding: 6px 0;
    font-size: 0.9rem;
}

.lista-detalhes li i{
    color: var(--verde-salvia);
}

/* Breadcrumb */
.breadcrumb {
    margin-bottom: 32px;
}

.breadcrumb-item a {
    color: var(--texto-secundario);
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--texto-principal);
}

/* Botões de tamanho (preencher o fundo para o selecionado) */

.btn-secundario:hover {
    background-color: var(--verde-salvia);
    border-color: var(--verde-salvia);
    color: var(--off-white);
}

.btn-check:checked + .btn-secundario {
    background-color: var(--verde-salvia) !important;
    border-color: var(--verde-salvia) !important;
    color: var(--off-white) !important;
}

/* Botões de quantidade (- e +)*/

.botao-quantidade {
    border: 1px solid var(--divisor);
    color: var(--texto-principal);
}

.botao-quantidade:hover {
    background-color: var(--bege);
}